
body, html {
  height: 100%;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

 #bgbg{
  margin-left: 0px;
  background-image:url( "consultation.jpg");
  height: 100%;
position: center;
  background-repeat: repeat;
  background-size: cover;
}
 button { position: absolute;
  top: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} 
input {
  width: 230px;
  height: 30px;
  
  border: none;
  
}
#odin{
  position: absolute;
  left: 600px;
  top: 100px ;
}
#dva{
  position: absolute;
  left: 600px;
  top: 150px ;
}
#tri{
  position: absolute;
  left: 600px;
  top: 200px ;
}
